    .container {
    width: 1280px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    padding: 50px;
    background-color: #445162;
    height: 223px;
    margin: 0;
}

.main-header:after {
    content: "";
    display: block;
    clear: both;
}

.main-header-wrapper {
    margin: 0;
    float: left;
}

.main-header-title {
    margin: 0 0 31px 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 60px;
    font-weight: 400;
}

.main-header-list {
    /*list-style-image: url(img/check_icon.png);*/
    list-style-type: none;
    margin: 0;
}

.main-header-list-item {
    margin: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(img/check_icon.png);
    background-size: cover;
    position: absolute;
    top: 3px;
    left: -30px;
}

.main-header-photo {
    width: 469px;
    height: 214px;
    display: block;
    float: right;
}

.content {
    width: 100%;
    padding: 50px;
}

.about-product {
    width: 100%;
    margin: 0;
}

.about-product:after {
    margin: 0;
    content: "";
    display: block;
    clear: both;
}

.about-product-header {
    margin: 0 0 30px 0;
    width: 254px;
    height: 28px;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.about-product-text {
    margin: 0 0 20px 0;
    width: 653px;
    float: left;
}

.about-product-text {
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-product-video {
    float: right;
    display: block;
    background-color: #445161;
    width: 430px;
    height: 245px;
}

.dignity-pluses-product {
    margin: 70px 0 0 0;
}

.dignity-pluses-product-header {
    text-align: center;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.dignity-pluses-product-list {
    list-style-type: none;
    column-count: 2;
}

.dignity-pluses-product-list-item {
    margin: 0 5px 35px 0;
    position: relative;
    width: 580px;
}

.dignity-pluses-product-list-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(img/plus_icon.png);
    background-size: cover;
    position: absolute;
    top: 3px;
    left: -38px